# Tuples
are ordered sequences
comma separated elementts inisde paranethese
can contain all data types inside.
tuples are <b> immutable</b>

In [73]:
tuple1=("chetan",52,1.032)
tuple2=("nicki",85,1.260)
tuple3=tuple1+tuple2
tuple3
# + concatenates

('chetan', 52, 1.032, 'nicki', 85, 1.26)

for slicing <b> tuple[1:5] </b> one thing to notice is how the last index specified in the slice is one larger than the required index.
as shown.

In [74]:
t=("h","e","l","l","o")
t[1:2]
t[2:5]
t[2:100]
t[2]

'l'

In [75]:
sales=(4,5,8,1,2,6,9,7,4,4,1,2,7)
quartersales=sorted(sales)
quartersales

[1, 1, 2, 2, 4, 4, 4, 5, 6, 7, 7, 8, 9]

## nesting of tuples
tuples can be nested as well like usual data types we have as fololows for exmaple

In [76]:
nestedtuple=(1,2,(3,4),5,6)
nestedtuple
ns=("this",85,("is","an"),4.056,("nested",("tuple","in")),"tuple")
ns
ns[4][1][0]

'tuple'

# Lists
 are also ordered sequences
 are represented within square brackets
 Lists are <b> mutable </b>

In [77]:
list=["this is a list",25,84.25,[2,0]]

slicing conventions is the same as tuples. + operate=or concatenates

In [78]:
#mutabilty
l=["this","is","an","cat"]
l[2]="a"
print(l)

['this', 'is', 'a', 'cat']

In [79]:
l1=[45,3,"ni hao"]
l2=[87,4.2,"chun li"]
l3=l1+l2
l3

[45, 3, 'ni hao', 87, 4.2, 'chun li']

## operations
<ul>
    <li> append
        <li>pop
            <li> copy
                <li>clear
                    <li>count
                        <li>extend
                            <li>insert
                                <li>remove
                                    <li>reverse
                                        <li>sort
 </ul>

## append()
adds a single input at the end of the list,
we can ppass a single intger, string or another list but it will add to just one index only.

In [80]:
a=[4,5,-1,8]
a.append(1)
a.append([5,6,7])
a

[4, 5, -1, 8, 1, [5, 6, 7]]

## pop()
to delete a single item from the end of the list
it takes no arguments
but it returns a value

In [81]:
a.pop()
print(a)

[4, 5, -1, 8, 1]

## clear()
empties the list completely
results in an empty list

In [82]:
l=["chetan","chunli","nihao"]
print(l)
l.clear()
print(l)

['chetan', 'chunli', 'nihao']
[]

## copy()
makes a copy to be assigned to a new variable
the nested values stil behave as linked

In [83]:
l=["chetan",["ram","yadav"],"yadav","ram","yadav"]
l_copy=l.copy()
print(l_copy)

#this change gets reflected in both copy and orriginal
l_copy[1][1]="singh"
print(l)
print(l_copy)

['chetan', ['ram', 'yadav'], 'yadav', 'ram', 'yadav']
['chetan', ['ram', 'singh'], 'yadav', 'ram', 'yadav']
['chetan', ['ram', 'singh'], 'yadav', 'ram', 'yadav']

## count()
counts the number of occurences of a varibale passed as an arguments in the list,
no. of occurnces of input

In [84]:
l.count("ram")
l.count("yadav")

2

## extends()
takes another list as input and adds it to the end, maintianing the indexes or as individual elements unlike append.

In [85]:
l1
lex=["chun li",458.3,77]
l1.extend(lex)
l1

[45, 3, 'ni hao', 'chun li', 458.3, 77]

## index()
retuns the index of first occurence of passed input/ argument in the list

In [86]:
l1.index(458.3)
l1.index("chun li")

3

## insert()
to insert an element at the  specific index in the list
< its req index> , <value to be inserted>

In [87]:
l.insert(2,"aman")
l

['chetan', ['ram', 'singh'], 'aman', 'yadav', 'ram', 'yadav']

## remove()
to remove any specified element from the list

In [88]:
l.remove("aman")
l

['chetan', ['ram', 'singh'], 'yadav', 'ram', 'yadav']

## reverse

In [89]:
l.reverse()
l

['yadav', 'ram', 'yadav', ['ram', 'singh'], 'chetan']

In [90]:
swap=["apple","banana","berries"]
swap[0],swap[2]=swap[2],swap[0]
swap

['berries', 'banana', 'apple']