In [8]:

import pandas as pd
!pip install pycoingecko

Requirement already satisfied: pycoingecko in c:\users\lenovo\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: requests in c:\users\lenovo\anaconda3\lib\site-packages (from pycoingecko) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->pycoingecko) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->pycoingecko) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->pycoingecko) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests->pycoingecko) (2022.9.14)

## These lines of code perform the following actions:

Import the CoinGeckoAPI module from the pycoingecko library.
1. Create a CoinGeckoAPI object called "cg".
2. Use the get_coin_market_chart_by_id method of the cg object to retrieve the market chart data for the Bitcoin cryptocurrency with respect to the Indian rupee (INR) for the last 30 days. The resulting data is stored in the bitcoindata_price variable.
3. Extract the "prices" component from the bitcoindata_price dictionary, which contains a list of timestamp and price pairs.
4. Create a Pandas DataFrame called "data" from the prices list, with columns labeled "TimeStamp" and "Price". The DataFrame will contain the timestamp and price data for Bitcoin with respect to INR for the last 30 days

In [30]:
from pycoingecko import CoinGeckoAPI
cg= CoinGeckoAPI()
bitcoindata_price=cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='inr',days=30)
prices = bitcoindata_price['prices']

data = pd.DataFrame(prices,columns=['TimeStamp','Price'])
data

         TimeStamp         Price
0    1676570549560  2.059398e+06
1    1676574127437  2.063639e+06
2    1676577751175  2.056213e+06
3    1676581322145  2.031565e+06
4    1676584976945  2.023740e+06
..             ...           ...
717  1679148036052  2.275314e+06
718  1679151729777  2.284271e+06
719  1679155318987  2.262486e+06
720  1679158921880  2.257824e+06
721  1679161956000  2.263965e+06

[722 rows x 2 columns]

### This code line adds a new column called "Date" to the pandas DataFrame called "data". The "pd.to_datetime()" function is used to convert the "TimeStamp" column, which is in milliseconds, to a readable date format. The "unit='ms'" parameter specifies that the input timestamp is in milliseconds.

So essentially, this line converts the timestamp data in milliseconds to a more readable date format and stores it in a new column called "Date" in the DataFrame

In [33]:
data['Date']= pd.to_datetime(data['TimeStamp'], unit='ms')
data

         TimeStamp         Price                    Date
0    1676570549560  2.059398e+06 2023-02-16 18:02:29.560
1    1676574127437  2.063639e+06 2023-02-16 19:02:07.437
2    1676577751175  2.056213e+06 2023-02-16 20:02:31.175
3    1676581322145  2.031565e+06 2023-02-16 21:02:02.145
4    1676584976945  2.023740e+06 2023-02-16 22:02:56.945
..             ...           ...                     ...
717  1679148036052  2.275314e+06 2023-03-18 14:00:36.052
718  1679151729777  2.284271e+06 2023-03-18 15:02:09.777
719  1679155318987  2.262486e+06 2023-03-18 16:01:58.987
720  1679158921880  2.257824e+06 2023-03-18 17:02:01.880
721  1679161956000  2.263965e+06 2023-03-18 17:52:36.000

[722 rows x 3 columns]

### This code is using the pandas library to create a new dataframe candlestick_data that will contain the minimum, maximum, first, and last prices of Bitcoin on each day, based on the data in the data dataframe.

The groupby() method is used to group the data by date (extracted from the Date column in data). The agg() method is then used to apply aggregation functions to each group of data. In this case, it is aggregating the Price column and calculating the minimum, maximum, first, and last values for each date group.

The resulting candlestick_data dataframe will be used to create a candlestick chart that shows the opening, closing, highest and lowest price of Bitcoin on each day over a period of 30 days

In [36]:
candlestick_data= data.groupby(data.Date.dt.date).agg(
{'Price':['min','max','first','last']})
candlestick_data

                   Price
                     min           max         first          last
Date
2023-02-16  1.979360e+06  2.063639e+06  2.059398e+06  1.979360e+06
2023-02-17  1.958347e+06  2.050451e+06  1.964400e+06  2.037010e+06
2023-02-18  2.027761e+06  2.045099e+06  2.039640e+06  2.038456e+06
2023-02-19  2.024593e+06  2.065503e+06  2.040197e+06  2.026486e+06
2023-02-20  2.005027e+06  2.065256e+06  2.013069e+06  2.042622e+06
2023-02-21  2.006315e+06  2.067548e+06  2.050031e+06  2.018973e+06
2023-02-22  1.961963e+06  2.023260e+06  2.023260e+06  1.996107e+06
2023-02-23  1.966973e+06  2.038673e+06  2.000155e+06  1.966973e+06
2023-02-24  1.915365e+06  1.985403e+06  1.978797e+06  1.915365e+06
2023-02-25  1.901884e+06  1.924260e+06  1.921759e+06  1.919089e+06
2023-02-26  1.916511e+06  1.962936e+06  1.921315e+06  1.944201e+06
2023-02-27  1.919568e+06  1.964491e+06  1.952325e+06  1.942201e+06
2023-02-28  1.905896e+06  1.943823e+06  1.943823e+06  1.913808e+06
2023-03-01  1.912566e+06  1.965887e+06  1.913476e+06  1.937243e+06
2023-03-02  1.917481e+06  1.950702e+06  1.947945e+06  1.936561e+06
2023-03-03  1.823099e+06  1.934400e+06  1.932810e+06  1.823379e+06
2023-03-04  1.814315e+06  1.830033e+06  1.827300e+06  1.825980e+06
2023-03-05  1.819875e+06  1.847485e+06  1.826143e+06  1.834902e+06
2023-03-06  1.829494e+06  1.844416e+06  1.833050e+06  1.836053e+06
2023-03-07  1.809472e+06  1.842921e+06  1.834670e+06  1.813931e+06
2023-03-08  1.800303e+06  1.829636e+06  1.823474e+06  1.800303e+06
2023-03-09  1.658090e+06  1.785459e+06  1.779959e+06  1.671669e+06
2023-03-10  1.613647e+06  1.670582e+06  1.670582e+06  1.650642e+06
2023-03-11  1.640181e+06  1.692989e+06  1.653615e+06  1.670260e+06
2023-03-12  1.668340e+06  1.790667e+06  1.682060e+06  1.790667e+06
2023-03-13  1.811522e+06  2.004934e+06  1.811522e+06  1.998638e+06
2023-03-14  1.992773e+06  2.136174e+06  1.992773e+06  2.034083e+06
2023-03-15  2.015234e+06  2.069213e+06  2.037774e+06  2.031323e+06
2023-03-16  2.016283e+06  2.078737e+06  2.024132e+06  2.075102e+06
2023-03-17  2.071863e+06  2.289657e+06  2.079294e+06  2.289657e+06
2023-03-18  2.257824e+06  2.294783e+06  2.265861e+06  2.263965e+06

In [43]:

import plotly.graph_objs as go
from plotly.offline import plot
fig=go.Figure(data=[go.Candlestick(x=candlestick_data.index,
                                  open=candlestick_data['Price']['first'],
                                  high=candlestick_data['Price']['max'],
                                  low=candlestick_data['Price']['min'],
                                  close=candlestick_data['Price']['last'])
                   ])
fig.update_layout(xaxis_rangeslider_visible=False , xaxis_title='Date',
                 yaxis_title='Price(INR)', title='Bitcoin data')
plot(fig, filename='bitcoincandlestick.html')

'bitcoincandlestick.html'